# DAT 19: Homework 1 Assignment

## Instructions

In this assignment, we will explore the passenger list of the Titanic, as provided in a well-known [Kaggle](https://www.kaggle.com) competition. For this assignment, we are concerned only with initial exploration. Please answer the specific questions listed below.

The dataset is a list of passengers. The second column of the dataset is the label for each person indicating whether that person survived (1) or did not survive (0). The data is described in more detail below.

There is no need to download the data from Kaggle. We have provided the titanic.csv dataset for you in the same  directory as this assignment.

Please do all your analysis to answer the questions below in this Jupyter notebook. Show your work. Questions 10, 13, and 14 ask for your thoughts as a few sentences (regular prose, not code :-).

**Please submit your completed notebook by 11:59PM on Thursday, December 17.**

## About the Data

```
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
```

### Load Data

Start by loading the Titanic data into a numpy array. The code to do this is included below to get you started.

In [16]:
# We'll use the csv module from the Python standard library to read each row of our input data file
#   into a list that we then convert into a numpy array.

import csv as csv
import numpy as np
import pandas as pd

file_object = csv.reader(open('titanic.csv', 'rb'))
header = file_object.next() #First, let's strip off the header

data = []
for row in file_object:
    data.append(row)

data = np.array(data) #Turn our Python list into a numpy array

# Let's see what our data looks like. Notice what type the data appears to be inside the numpy array.
print type(data)
print data.shape

print '\n' + '...'
print data[-1,:]

<type 'numpy.ndarray'>
(891, 12)

...
['891' '0' '3' 'Dooley, Mr. Patrick' 'male' '32' '0' '0' '370376' '7.75' ''
 'Q']

In [196]:
col_names = ['passenger_number', 'survival_binary', 'passenger_class', 'name', 'sex', 'age', '#siblings/spouses', '#parents/children', 'ticket_number','passenger_fare', 'cabin', 'port of embarkation']
tidata = pd.read_csv('titanic.csv', header=None, names=col_names)
tidata.head()

,passenger_number,survival_binary,passenger_class,name,sex,age,#siblings/spouses,#parents/children,ticket_number,passenger_fare,cabin,port of embarkation
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

## Homework Questions

**1) How many passengers are in our passenger list? For this assignment, weâ€™ll assume our dataset represents the full passenger list for the Titanic.**

In [127]:
# Your code here for num_passengers. Uncomment the line below to format your answer.

num_passengers = np.shape(data)[0]

print 'There are ' + str(num_passengers) + ' passengers in our list.'

There are 891 passengers in our list.

**2) What is the overall survival rate (as a percentage of total passengers in our list)?**

In [55]:
#HINT: You may want to import another module here
#Your code here to calculate num_survived and survival_rate. 
#Again, we've provided some code you can use to format your answer.

survivors1 = data[0::,1] == "1"
total_survivors = data[survivors1,1].astype(np.float)

num_survived = np.sum(total_survivors)

survival_rate = num_survived / num_passengers

print 'Of ' + str(num_passengers) + ' passengers, ' + str(num_survived) + ' survived.'
print 'The survival rate is ' + str(survival_rate) + ' or '+ str("{0:.0f}%".format(survival_rate * 100))

NameError: name 'num_passengers' is not defined

**3) How many male passengers were onboard?**

In [306]:
# Your code here to calculate num_male

female_data = data[0::,4] == "female"
male_data = data[0::,4] == "male"

men = data[male_data, 1].astype(np.float)

num_males = np.size(men)

print 'There were ' + str(num_males) + ' male passengers onboard.'

There were 577 male passengers onboard.

**4) How many female passengers were onboard?**

In [302]:
# Your code here to calculate num_females

women = data[female_data, 1].astype(np.float)

num_females = np.size(women)

print 'There were ' + str(num_females) + ' female passengers onboard.'

There were 314 female passengers onboard.

**5) What is the overall survival rate of male passengers?**

In [308]:
# Your code here to calculate male_survival_rate

num_living_males = np.sum(men)

male_survival_rate = num_living_males / num_males

print 'The survival rate of male passengers was ' + str("{0:.2f}%".format(male_survival_rate * 100))

The survival rate of male passengers was 18.89%

**6) What is the overall survival rate of female passengers?**

In [310]:
# Your code here to calculate female_survival_rate

num_living_females = np.sum(women)

female_survival_rate = num_living_females / num_females

print 'The survival rate of female passengers was ' + str("{0:.2f}%".format(female_survival_rate * 100))

The survival rate of female passengers was 74.20%

**7) What is the average age of all passengers onboard?**

In [99]:
# Your code here to calculate avg_age
# HINT: This may be trickier than it first seems. Look at the age values in the raw data file.
with_age = data[0::,5] != ""
age = data[with_age,5].astype(np.float)
#print np.size(age)
avg_age = np.sum(age) / np.size(age)

print 'The average age of all passengers onboard was ' + str("{0:.2f}".format(avg_age))

The average age of all passengers onboard was 29.70

**8) What is the average age of passengers who survived?**

In [102]:
# Your code here to calculate avg_age_survived

lll = []
avgsurvage = data[survivors1, 5]

avgsurvnoage = data[survivors1,5] != ""

for nums in avgsurvage:
    if nums != "":
        lll.append(nums.astype(np.float))

#print avgsurvage        
#print np.sum(lll)
#avgsurvnoage11 = data[avgsurvnoage,5].astype(int)
#print avgsurvnoage11
#print data[avgsurvnoage, 5]
#print np.size(avgsurvage) #number of survivors
#print np.sum(avgsurvnoage) #number of survivors with age stats

avg_age_survived = sum(lll) / np.sum(avgsurvnoage) 

print 'The average of age of passengers who survived was ' + str("{0:.2f}".format(avg_age_survived))

The average of age of passengers who survived was 28.34

**9) What is the average age of passengers who did not survive?**

In [61]:
# Your code here to calculate avg_age_not_survive
fff = []
notsurvivors1 = data[0::,1] == "0"
avgnotsurvage = data[notsurvivors1, 5]
avgnotsurvnoage = data[notsurvivors1, 5] != ""

np.size(avgnotsurvage) #number of not survivors
np.sum(avgnotsurvnoage) #number of not survivors with age stats

#print avgnotsurvage
#fff = fff.astype(int)
for nums in avgnotsurvage:
    if nums != "":
        fff.append(nums.astype(np.float))
#print type(fff[1])
#print fff
total_years = sum(fff)

avg_age_not_survive = sum(fff) / np.sum(avgnotsurvnoage)

print 'The average of age of passengers who did not survive was ' + str("{0:.2f}".format(avg_age_not_survive))

The average of age of passengers who did not survive was 30.63

**10) At this (early) point in our analysis, what might you infer about any patterns you are seeing in who survived / did not survive?**

* By itself, age is not a good predictor of survival
* Gender is a good predictor of survival

**11) How many passengers are in each of the three classes of service (e.g. First, Second, Third?)**

In [38]:
# Your code here
# You do not need to format the output nicely like we did for the questions above.
class1 = data[0::,2] == "1"
class2 = data[0::,2] == "2"
class3 = data[0::,2] == "3"

print np.size(data[class1,0])
print np.size(data[class2,0])
print np.size(data[class3,0])

216
184
491

**12) What is the survival rate for passengers in each of the three classes of service?**

In [50]:
# Your code here
# HINT: Averaging of the 1's and 0's in the "Survived" column will give a survival rate.
# We want the survival rate for each passenger class.
# You do not need to format the output nicely.

class1survivors = data[class1, 1].astype(int)
print np.mean(class1survivors)
class2survivors = data[class2, 1].astype(int)
print np.mean(class2survivors)
class3survivors = data[class3, 1].astype(int)
print np.mean(class3survivors)

0.62962962963
0.472826086957
0.242362525458

**13) How does what we learned in 11) and 12) influence our early conclusions from 10) ?**

Male vs. female is still the best indicator of survival.

**14) If we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?**

Class and Male vs. Female are the best indicators of survival that we've explored and probably have a fair amount of predictive power. Siblings/spouses and parents/children would also be interesting too incorporate into a model that predicts survival, as these people would probably work together.